
<h3 style='color:red;'>{{ "Thank you for using the DARIAH ELDAH Consent Form Wizard. You can obtain the text for your consent form by downloading it from this page. Please note that you will be provided raw text only. Please also be aware that for data privacy reasons, the information you entered in the tool to obtain your consent form will not be stored and will be lost when closing the website. If you want to provide your result as an example for other CFW users, please send it to us at <a href='mailto:eldah@dariah.eu'>eldah@dariah.eu</a>"|trans }}
</h3>
<br/>
<h2><a href='#' id='get-raw-text' >{{ "Download the Raw text"|trans }}</a></h2>
<br/>
<div class='scenario-full-text'>
    <h1> {{ "Information on Data Processing and Declaration of Consent"|trans }} </h1>
    <div class="container">
        <div class="py-5 text-center">
          <h2>{{ "Introduction"|trans }}</h2>
            <p class="lead">
               {{ "At"|trans }}
                {% if data.sc2_a_institution_name.value.0 %}
                    {{ data.sc2_a_institution_name.value.0 }} 
                {% elseif data.sc_3_a_institution.value.0 %}
                    {{ data.sc_3_a_institution.value.0 }} 
                {% endif %}
                {{ "we value your privacy and process your data in compliance with the EU General Data Protection Regulation (GDPR)"|trans }}.
                <br><br>
                {{ 'Your <b>"Personal Data"</b> is any information related to you. <b>"Processing"</b> is any operation performed on the data.'|trans }}
                <br><br>
                {{ "According to the <b>Transparency Principle</b>, this document will provide you with information about the processing of your personal data as required by Art. 12, 13, and 14 of the GDPR."|trans }}
            </p>
        </div>
              
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "Who are we and how can you contact us?"|trans }}</b></h5>
                {% if data.sc2_a_institution_name.value.0 %}
                    {{ data.sc2_a_institution_name.value.0 }}<br/>
                    {{ data.sc2_a_institution_address.value.0 }}<br/>
                     <a href="mailto:{{ data.sc2_a_institution_e_mail.value.0 }}">{{ data.sc2_a_institution_e_mail.value.0 }}</a><br/>
                {% elseif data.sc_3_a_institution.value.0 %}       
                    {% if data.sc_3_a_contact_person %}
                        {{ data.sc_3_a_contact_person.value.0 }} on behalf of {{ data.sc_3_a_institution.value.0 }}  
                    {% else %}
                        {{ data.sc_3_a_institution.value.0 }}
                    {% endif %}
                    <br/>
                    {{ data.sc_3_a_address }}<br/>
                    <a href="mailto:{{ data.sc_3_a_email.value.0 }}">{{ data.sc_3_a_email.value.0 }}</a><br/>
                {% endif %}
                {{ "acting as the data controller within the meaning of the GDPR."|trans }}
                
                {% if data.sc2_a_dpo_name.value.0 %}
                    <br/>
                    <br/>
                    {{ "You can also contact our <b>Data Protection Officer</b>"|trans }}
                    {{ data.sc2_a_dpo_name.value.0 }} at <a href='mailto:{{ data.sc2_a_dpo_email.value.0 }}'>{{ data.sc2_a_dpo_email.value.0 }}</a>
                {% elseif data.sc_3_a_dpofficer_name.value.0 %} 
                    <br/>
                    <br/>
                    {{ "You can also contact our <b>Data Protection Officer</b>"|trans }}
                    {{ sc_3_a_dpofficer_name.value.0 }} at <a href='mailto:{{ data.sc_3_a_dpofficer_email.value.0 }}'>{{ data.sc_3_a_dpofficer_email.value.0 }}</a>
                {% endif %}    
                <br/>
                <br/>
            </div>
        </div>  
        
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "For what purpose do we process your data?"|trans }}</b></h5>
                {{ "We process your data for the following purposes"|trans }}:
                {% if data.sc2_b_what_do_you_need_the_data_for.value %}
                    <ul>
                    {% for value in data.sc2_b_what_do_you_need_the_data_for.value %}
                        {% if value == 'sc2_b_1_1' %}
                            <li>{{ "Keeping subscribers informed, community building"|trans }}</li>
                        {% endif %}         
                        {% if value == 'sc2_b_1_2' %}
                            <li>{{ "Promoting events, institutions, etc."|trans }}</li>
                        {% endif %}         
                        {% if value == 'sc2_b_1_3' %}
                            <li>{{ "Providing / keeping a mailinglist to communicate to subscribers"|trans }}</li>
                        {% endif %}         
                        {% if value == 'sc2_b_1_4' %}
                            <li>{{ "Keeping a mailinglist to provide a communication platform for subscribers"|trans }}</li>
                        {% endif %}         
                        {% if value == 'sc2_b_1_5' %}
                            <li>{{ "Documentation of mailinglist activity, statistic analysis"|trans }}</li>
                        {% endif %}         
                    {% endfor %}
                    </ul>
                {% endif %}
                
                {% if data.sc_3_b_1.value or data.sc_3_b_2.value or data.sc_3_b_3.value or 
                    data.sc_3_b_4.value or data.sc_3_b_5.value or data.sc_3_b_6.value or 
                    data.sc_3_b_7.value or data.sc_3_b_8.value or data.sc_3_b_9.value %}
                    <ul>
                        {% if data.sc_3_b_1.value.0 %}
                            <li>{{ "Organisation and/or management of the event"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_2.value.0 %}
                            <li>{{ "Organisation of related events in the future (e.g. next edition of the conference)"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_3.value.0 %}
                            <li>{{ "Keeping the participants informed about related topics (e.g. reuse of contact details for newsletter purposes)"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_4.value.0 %}
                            <li>{{ "Promoting and documenting the event itself on our website and / or social media"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_5.value.0 %}
                            <li>{{ "Promoting and documenting the research presented at the event (publish videos / photos of the lecture)"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_6.value.0 %}
                            <li>{{ "Statistic analysis of the event (e.g. in relation to past and future events)"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_7.value.0 %}
                            <li>{{ "Administration of participation fees and/or travel expenses"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_8.value.0 %}
                            <li>{{ "Generation of attendance certificates, invoices and payment confirmations"|trans }}</li>
                        {% endif %}         
                        {% if data.sc_3_b_9.value.0 %}
                            <li>{{ "Community building (allowing participants to stay in touch with each other after the event)"|trans }}</li>
                        {% endif %}  
                    </ul>
                {% endif %}            
                <br/>
            </div>
        </div> 
                
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "What information about you do we collect and process?"|trans }}</b></h5>
                {{ "For the purposes listed above, we process the following information related to you"|trans }}:
                
                <ul>
                    {% if data.sc2_c_1_1_name.value.0 %}
                        <li>{{ "Name, surname"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_email.value.0 %}
                        <li>{{ "E-mail address"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_ip.value.0 %}
                        <li>{{ "IP address"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_country.value.0 %}
                        <li>{{ "Country"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_affiliation.value.0 %}
                        <li>{{ "Affiliation"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_professional.value.0 %}
                        <li>{{ "Professional title / academic status"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_gender.value.0 %}
                        <li>{{ "Gender"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_social.value.0 %}
                        <li>{{ "Social media identifiers"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_other.value.0 %}
                        <li>{{ "Other"|trans }}</li>
                    {% endif %} 
                    
                    {% if data.sc_3_bp_name.value.0 %}
                        <li>{{ "Name, surname"|trans }}</li>
                    {% endif %}                     
                    {% if data.sc_3_bp_email.value.0 %}
                        <li>{{ "E-mail address"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_affiliation.value.0 %}
                        <li>{{ "Affiliation"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_proftitle.value.0 %}
                        <li>{{ "Professional title / academic status"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_gender.value.0 %}
                        <li>{{ "Gender"|trans }}</li>
                    {% endif %} 
                    {% if data.sc2_c_1_1_other.value.0 %}
                        <li>{{ "Other"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_address.value.0 %}
                        <li>{{ "Address"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_country.value.0 %}
                        <li>{{ "Country"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_social_media.value.0 %}
                        <li>{{ "Social media identifiers"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_bp_other.value.0 %}
                        <li>{{ "Other"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_c_4_5_9_photo.value.0 %}
                        <li>{{ "Photographs, audio or video recordings"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_c_7_8_account.value.0 %}
                        <li>{{ "Account or credit/debit card information"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_c_1_2_6_dietary.value.0 %}
                        <li>{{ "Dietary requirements"|trans }}</li>
                    {% endif %} 
                    {% if data.sc_3_c_1_2_6_9_events.value.0 %}
                        <li>{{ "Participation in previous events organized by the organizer"|trans }}</li>
                    {% endif %} 
                </ul>
                   
                <br/>
                {{ "We obtain this information"|trans }}
                {% if data.sc2_c_1_1_ip.value.0 %}
                    {{ "(apart from your IP address)"|trans }}
                {% endif%} {{ "directly from you when you fill in the respective form. The information the provision of which is mandatory is marked with an asterisk in the attached form. For the remaining information, you are free to decide not to provide it; in this case it will not appear in our communications"|trans }}.
                
                <br/><br/>
                {% if data.sc2_c_1_1_ip.value.0 %}
                    {{ "Your IP address is automatically collected when you fill in the online form."|trans }}
                    <br/><br/>
                {% endif%}    
                
            </div>
        </div>          

        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "Legal basis for the processing of your data"|trans }}</b></h5>
                {{ "Your data is processed on the basis of your consent (Art. 6.1(a) of the GDPR) which you give by accepting this notice."|trans }}
                <br/><br/>
                {% if data.sc_3_c_1_2_6_dietary.value.0 %}
                    {{ "Dietary requirements can reveal your philosophical opinions or religious beliefs, therefore we regard them as sensitive data. The processing of this information is based on your explicit consent (Art. 9.2(a) of the GDPR)."|trans }}    
                    <br/><br/>
                {% endif %}
                
                 
                {{ "Exceptionally, where consent is not an appropriate legal basis, your personal data can also be processed on the basis of"|trans }} 
                {% if data.sc_3_a_institution.value.0  %}
                    {{ "our legitimate interest in organising the"|trans }}                 
                    {% if data.sc_3_b_1_textfield.value.0  %}
                        {{ data.sc_3_b_1_textfield.value.0  }}
                    {% else  %}
                        {{ "event"|trans }}
                     {% endif %}
                    {{ "and promoting it, and your legitimate interest in participating in it, and in staying informed about the recent developments in the research community."|trans }}
                    <br/><br/>
                {% endif %}
                
                {% if data.sc2_a_institution_name.value.0  %}
                    {{ "your legitimate interest in staying informed about recent developments in the research community. Then, the processing is based on Art. 6.1(f) of the GDPR."|trans }}
                    <br/><br/>
                {% endif %}
                
            </div>
        </div> 
                
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "For how long do we keep your data?"|trans }}</b></h5>
                {{ "These are the durations your data will be stored for"|trans }}: 
                <br>
                {% if data.sc2_c_1_1_name.value.0 %}
                    <br>
                    {{ "Name, surname"|trans }}: 
                    {% if data.sc2_c_1_1_container_months.value.0 %}
                        {{ data.sc2_c_1_1_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_1_container_years.value.0 %}
                        {{ data.sc2_c_1_1_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_1_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_1_container_after.value.0 %}
                        {{ data.sc2_c_1_1_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc2_c_1_1_email.value.0 %}
                    <br>
                    {{ "E-mail address"|trans }}: 
                    {% if data.sc2_c_1_2_container_months.value.0 %}
                        {{ data.sc2_c_1_2_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_2_container_years.value.0 %}
                        {{ data.sc2_c_1_2_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_2_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_2_container_after.value.0 %}
                        {{ data.sc2_c_1_2_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc2_c_1_1_ip.value.0 %}
                    <br>
                    {{ "IP address"|trans }}: 
                    {% if data.sc2_c_1_3_container_months.value.0 %}
                        {{ data.sc2_c_1_3_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_3_container_years.value.0 %}
                        {{ data.sc2_c_1_3_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_3_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_3_container_after.value.0 %}
                        {{ data.sc2_c_1_3_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc2_c_1_1_country.value.0 %}
                    <br>
                    {{ "Country"|trans }}: 
                    {% if data.sc2_c_1_4_container_months.value.0 %}
                        {{ data.sc2_c_1_4_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_4_container_years.value.0 %}
                        {{ data.sc2_c_1_4_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_4_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_4_container_after.value.0 %}
                        {{ data.sc2_c_1_4_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc2_c_1_1_affiliation.value.0 %}
                    <br>
                    {{ "Affiliation"|trans }}: 
                    {% if data.sc2_c_1_5_container_months.value.0 %}
                        {{ data.sc2_c_1_5_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_5_container_years.value.0 %}
                        {{ data.sc2_c_1_5_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_5_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_5_container_after.value.0 %}
                        {{ data.sc2_c_1_5_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %} 
                
                {% if data.sc2_c_1_1_professional.value.0 %}
                    <br>
                    {{ "Professional title / academic status"|trans }}: 
                    {% if data.sc2_c_1_6_container_months.value.0 %}
                        {{ data.sc2_c_1_6_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_6_container_years.value.0 %}
                        {{ data.sc2_c_1_6_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_6_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_6_container_after.value.0 %}
                        {{ data.sc2_c_1_6_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %} 
                
                {% if data.sc2_c_1_1_gender.value.0 %}
                    <br>
                    {{ "Gender"|trans }}: 
                    {% if data.sc2_c_1_7_container_months.value.0 %}
                        {{ data.sc2_c_1_7_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_7_container_years.value.0 %}
                        {{ data.sc2_c_1_7_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_7_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_7_container_after.value.0 %}
                        {{ data.sc2_c_1_7_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}
                
                {% if data.sc2_c_1_1_social.value.0 %}
                    <br>
                    {{ "Social media identifiers"|trans }}: 
                    {% if data.sc2_c_1_8_container_months.value.0 %}
                        {{ data.sc2_c_1_8_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_8_container_years.value.0 %}
                        {{ data.sc2_c_1_8_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_8_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_8_container_after.value.0 %}
                        {{ data.sc2_c_1_8_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}
                
                {% if data.sc2_c_1_1_other.value.0 %}
                    <br>
                    {{ "Other"|trans }}: 
                    {% if data.sc2_c_1_9_container_months.value.0 %}
                        {{ data.sc2_c_1_9_container_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc2_c_1_9_container_years.value.0 %}
                        {{ data.sc2_c_1_9_container_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc2_c_1_9_container_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc2_c_1_9_container_after.value.0 %}
                        {{ data.sc2_c_1_9_container_after.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                    <br>
                    {{ "Info text"|trans }}: 
                    {{ data.sc2_c_1_9_other_infotext.value.0 }}
                {% endif %}
                
                <!-- scenario 3 -->
                
                {% if data.sc_3_bp_name.value.0 %}
                    <br>
                    {{ "Name, surname"|trans }}: 
                    {% if data.sc_3_bp_name_months.value.0 %}
                        {{ data.sc_3_bp_name_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_name_years.value.0 %}
                        {{ data.sc_3_bp_name_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_name_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_name_yearsafter.value.0 %}
                        {{ data.sc_3_bp_name_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc_3_bp_email.value.0 %}
                    <br>
                    {{ "E-mail address"|trans }}: 
                    {% if data.sc_3_bp_email_months.value.0 %}
                        {{ data.sc_3_bp_email_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_email_years.value.0 %}
                        {{ data.sc_3_bp_email_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_email_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_email_yearsafter.value.0 %}
                        {{ data.sc_3_bp_email_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc_3_bp_affiliation.value.0 %}
                    <br>
                    {{ "Affiliation"|trans }}: 
                    {% if data.sc_3_bp_affilation_monthss.value.0 %}
                        {{ data.sc_3_bp_affilation_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_affilation_years.value.0 %}
                        {{ data.sc_3_bp_affilation_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_affilation_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_affilation_yearsafter.value.0 %}
                        {{ data.sc_3_bp_affilation_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %} 
                
                {% if data.sc_3_bp_proftitle.value.0 %}
                    <br>
                    {{ "Professional title / academic status"|trans }}: 
                    {% if data.sc_3_bp_proftitle_months.value.0 %}
                        {{ data.sc_3_bp_proftitle_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_proftitle_years.value.0 %}
                        {{ data.sc_3_bp_proftitle_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_proftitle_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_proftitle_yearsafter.value.0 %}
                        {{ data.sc_3_bp_proftitle_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %} 
                                
                {% if data.sc_3_bp_gender.value.0 %}
                    <br>
                    {{ "Gender"|trans }}: 
                    {% if data.sc_3_bp_gender_months.value.0 %}
                        {{ data.sc_3_bp_gender_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_gender_years.value.0 %}
                        {{ data.sc_3_bp_gender_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_gender_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_gender_yearsafter.value.0 %}
                        {{ data.sc_3_bp_gender_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}
                
                 {% if data.sc_3_bp_address.value.0 %}
                    <br>
                    {{ "Address"|trans }}: 
                    {% if data.sc_3_bp_address_months.value.0 %}
                        {{ data.sc_3_bp_address_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_address_years.value.0 %}
                        {{ data.sc_3_bp_address_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_address_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_address_yearsafter.value.0 %}
                        {{ data.sc_3_bp_address_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc_3_bp_country.value.0 %}
                    <br>
                    {{ "Country"|trans }}: 
                    {% if data.sc_3_bp_country_months.value.0 %}
                        {{ data.sc_3_bp_country_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_country_years.value.0 %}
                        {{ data.sc_3_bp_country_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_country_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_country_yearsafter.value.0 %}
                        {{ data.sc_3_bp_country_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}  
                
                {% if data.sc_3_bp_social_media.value.0 %}
                    <br>
                    {{ "Social media identifiers"|trans }}: 
                    {% if data.sc_3_bp_social_media_months.value.0 %}
                        {{ data.sc_3_bp_social_media_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_social_media_years.value.0 %}
                        {{ data.sc_3_bp_social_media_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_social_media_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_social_media_yearsafter.value.0 %}
                        {{ data.sc_3_bp_social_media_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %}      
                {% endif %}
                
                {% if data.sc_3_bp_other.value.0 %}
                    <br>
                    {{ "Other"|trans }}: 
                    {% if data.sc_3_bp_other_months.value.0 %}
                        {{ data.sc_3_bp_other_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_bp_other_years.value.0 %}
                        {{ data.sc_3_bp_other_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_bp_other_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_bp_other_yearsafter.value.0 %}
                        {{ data.sc_3_bp_other_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                {% endif %}
                
                <!-- purpose 4-5-9 -->
                
                {% if data.sc_3_c_4_5_9_photo.value.0 %}
                    <br>
                    {{ "Photographs, audio or video recordings"|trans }}: 
                    {% if data.sc_3_c_4_5_9_photo_months.value.0 %}
                        {{ data.sc_3_c_4_5_9_photo_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_c_4_5_9_photo_years.value.0 %}
                        {{ data.sc_3_c_4_5_9_photo_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_c_4_5_9_photo_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_c_4_5_9_photo_yearsafter.value.0 %}
                        {{ data.sc_3_c_4_5_9_photo_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                {% endif %}
                
                <!-- purpose 7-8 -->
                
                {% if data.sc_3_c_7_8_account.value.0 %}
                    <br>
                    {{ "Account or credit/debit card information"|trans }}: 
                    {% if data.sc_3_c_7_8_account_months.value.0 %}
                        {{ data.sc_3_c_7_8_account_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_c_7_8_account_years.value.0 %}
                        {{ data.sc_3_c_7_8_account_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_c_7_8_account_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_c_7_8_account_yearsafter.value.0 %}
                        {{ data.sc_3_c_7_8_account_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                {% endif %}
                
                <!-- purpose 1-2-6 -->
                
                {% if data.sc_3_c_1_2_6_dietary.value.0 %}
                    <br>
                    {{ "Dietary requirements"|trans }}: 
                    {% if data.sc_3_c_1_2_6_dietary_months.value.0 %}
                        {{ data.sc_3_c_1_2_6_dietary_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_c_1_2_6_dietary_years.value.0 %}
                        {{ data.sc_3_c_1_2_6_dietary_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_c_1_2_6_dietary_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_c_1_2_6_dietary_yearsafter.value.0 %}
                        {{ data.sc_3_c_1_2_6_dietary_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                {% endif %}
                
                 <!-- purpose 1-2-6-9 -->
                
                {% if data.sc_3_c_1_2_6_9_events.value.0 %}
                    <br>
                    {{ "Participation in previous events organized by us"|trans }}: 
                    {% if data.sc_3_c_1_2_6_9_events_months.value.0 %}
                        {{ data.sc_3_c_1_2_6_9_events_months.value.0 }} {{ "months"|trans }}.
                    {% elseif data.sc_3_c_1_2_6_9_events_years.value.0 %}
                        {{ data.sc_3_c_1_2_6_9_events_years.value.0 }} {{ "years"|trans }}.
                    {% elseif data.sc_3_c_1_2_6_9_events_long.value.0 %}
                        {{ "as long as necessary to achieve the purpose of data collection."|trans }}
                    {% elseif data.sc_3_c_1_2_6_9_events_yearsafter.value.0 %}
                        {{ data.sc_3_c_1_2_6_9_events_yearsafter.value.0 }} {{ "years after the last mailinglist activity."|trans }}
                    {% endif %} 
                {% endif %}

                    {{ "After these periods, your data will be deleted or anonymised according to the highest standards."|trans }}

                <br/><br/>
            </div>
        </div>  
                
         <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "Will your data be shared with anyone?"|trans }}</b></h5>
                
                {% if data.sc2_d_share.value.0 == 'sc2_d_share_no' %}
                    {% if data.sc2_a_institution_name.value.0 %}
                        {{ "Your personal data will not be shared with or disclosed to anyone outside our institution"|trans }} ({{ data.sc2_a_institution_name.value.0 }}).
                    {% endif %}
                    <br/>
                {% endif %}
                
                {% if data.sc_3_d_share.value.0 == 'sc_3_d_share_2' %}
                    {% if data.sc_3_a_institution.value.0 %}
                        {{ "Your personal data will not be shared with or disclosed to anyone outside our institution"|trans }} ({{ data.sc_3_a_institution.value.0 }}).
                    {% endif %}
                    <br/>
                {% endif %}    
                
                
                <!-- [if: Project_partners_sharing] -->
                {% if data.sc2_d_1_2.value.0 %}
                    {{ "For all purposes listed above, your personal data can be shared with the following partner institutions"|trans }}: 
                    <br/><br/>
                    
                    {% if data.sc2_d_share_c_1_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_c_1_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_c_1_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_c_1_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc2_d_share_c_2_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_c_2_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_c_2_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_c_2_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc2_d_share_c_3_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_c_3_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_c_3_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_c_3_country.text.0 }}
                        <br/>
                    {% endif %}
                    <br/><br/>
                {% endif %}
                
                {% if data.sc2_d_1_3.value.0 %}
                    {{ "For all purposes listed above, your personal data can be shared with the following partner institutions"|trans }}: 
                    <br/>
                    {% if data.sc2_d_share_s_1_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_s_1_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_s_1_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_s_1_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc2_d_share_s_2_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_s_2_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_s_2_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_s_2_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc2_d_share_s_3_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc2_d_share_s_3_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc2_d_share_s_3_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc2_d_share_s_3_country.text.0 }}
                        <br/>
                    {% endif %}
                    <br/><br/>
                {% endif %}
                
                {% if data.sc_3_d_cd_share_2.value.0 %}
                    {{ "For all purposes listed above, your personal data can be shared with the following partner institutions"|trans }}: 
                    <br/>
                    {% if data.sc_3_d_cd_share_2_1_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_2_1_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc_3_d_cd_share_2_1_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_2_1_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc_3_d_cd_share_2_2_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_2_2_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc_3_d_cd_share_2_2_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_2_2_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc_3_d_cd_share_2_3_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_2_3_institution.value.0 }}<br/>
                        
                    {% endif %}
                    {% if data.sc_3_d_cd_share_2_3_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_2_3_country.text.0 }}
                        <br/>
                    {% endif %}
                    <br/><br/>
                {% endif %}
                
                {% if data.sc_3_d_cd_share_3.value.0 %}
                    {{ "For all purposes listed above, your personal data can be shared with the following partner institutions"|trans }}:
                    <br/>
                    {% if data.sc_3_d_cd_share_3_1_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_3_1_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc_3_d_cd_share_3_1_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_3_1_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc_3_d_cd_share_2_3_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_3_2_institution.value.0 }}
                        <br/>
                    {% endif %}
                    {% if data.sc_3_d_cd_share_3_2_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_3_2_country.text.0 }}
                        <br/>
                    {% endif %}
                    
                    {% if data.sc_3_d_cd_share_3_3_institution.value.0 %}
                        {{ "Institution"|trans }}: {{ data.sc_3_d_cd_share_3_3_institution.value.0 }}<br/>
                        
                    {% endif %}
                    {% if data.sc_3_d_cd_share_3_3_country.value.0 %}
                        {{ "Country"|trans }}: {{ data.sc_3_d_cd_share_3_3_country.text.0 }}
                        <br/>
                    {% endif %}
                    <br/><br/>
                {% endif %}
               
                <!-- [if Category_1...n includes [Dietary requirements]]  -->
                {% if data.sc_3_c_1_2_6_dietary.value.0 %}
                     {{ "Information about your dietary requirements, which may reveal your philosophical opinions or religious beliefs, will only be shared in aggregated form, making it impossible to identify you."|trans }}
                     <br/><br/>
                {% endif %}     
                
                <!-- if: Sharing_Participants]  -->
                {% if data.sc_3_b_1.value.0 %}
                    {{ "Moreover, for the purpose of community building, your name, affiliation and contact details will be communicated to other participants of"|trans }} {{ data.sc_3_b_1_textfield.value.0 }}.
                    <br/><br/>
                {% endif %}
                
            </div>
        </div> 
                
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "Will your data be transferred outside the European Economic Area (EEA)?"|trans }}</b></h5>
                
                {% set thirdCountry = 'no' %}
                
                <!-- EU -->
                 {%  if 
                    data.sc2_d_share_c_1_country.value.0 == 'sc2_d_share_c_1_country_1'
                    or
                    data.sc2_d_share_c_2_country.value.0 == 'sc2_d_share_c_2_country_1'
                    or
                    data.sc2_d_share_c_3_country.value.0 == 'sc2_d_share_c_3_country_1'
                    or
                    data.sc2_d_share_s_1_country.value.0 == 'sc2_d_share_s_1_country_1'    
                    or 
                    data.sc2_d_share_s_2_country.value.0 == 'sc2_d_share_s_2_country_1'    
                    or
                    data.sc2_d_share_s_3_country.value.0 == 'sc2_d_share_s_3_country_1'                       
                 %}
                    {{ "Your data will not be transferred outside the European Economic Area."|trans }}
                <!-- THIRD -->    
                {%  elseif 
                    data.sc2_d_share_c_1_country.value.0 == 'sc2_d_share_c_1_country_2'
                    or
                    data.sc2_d_share_c_2_country.value.0 == 'sc2_d_share_c_2_country_2'
                    or
                    data.sc2_d_share_c_3_country.value.0 == 'sc2_d_share_c_3_country_2'
                    or
                    data.sc2_d_share_s_1_country.value.0 == 'sc2_d_share_s_1_country_2'    
                    or 
                    data.sc2_d_share_s_2_country.value.0 == 'sc2_d_share_s_2_country_2'    
                    or
                    data.sc2_d_share_s_3_country.value.0 == 'sc2_d_share_s_3_country_2'
                %}
                    {% set thirdCountry = 'yes' %}
                    
                    <!-- USA -->
                {%  elseif 
                    data.sc2_d_share_c_1_country.value.0 == 'sc2_d_share_c_1_country_3'
                    or
                    data.sc2_d_share_c_2_country.value.0 == 'sc2_d_share_c_2_country_3'
                    or
                    data.sc2_d_share_c_3_country.value.0 == 'sc2_d_share_c_3_country_3'
                    or
                    data.sc2_d_share_s_1_country.value.0 == 'sc2_d_share_s_1_country_3'    
                    or 
                    data.sc2_d_share_s_2_country.value.0 == 'sc2_d_share_s_2_country_3'    
                    or
                    data.sc2_d_share_s_3_country.value.0 == 'sc2_d_share_s_3_country_3'
                     %}    
                    {% set thirdCountry = 'usa' %}
                    
                    <!-- DIFFERENT COUNTRY -->
                {%  elseif 
                    data.sc2_d_share_c_1_country.value.0 == 'sc2_d_share_c_1_country_4'
                    or
                    data.sc2_d_share_c_2_country.value.0 == 'sc2_d_share_c_2_country_4'
                    or
                    data.sc2_d_share_c_3_country.value.0 == 'sc2_d_share_c_3_country_4'
                    or
                    data.sc2_d_share_s_1_country.value.0 == 'sc2_d_share_s_1_country_4'    
                    or 
                    data.sc2_d_share_s_2_country.value.0 == 'sc2_d_share_s_2_country_4'    
                    or
                    data.sc2_d_share_s_3_country.value.0 == 'sc2_d_share_s_3_country_4'
                %}
                    {% set thirdCountry = 'no' %}
                {%  endif  %}  
                    
                {%  if thirdCountry == 'no' %}      
                    {{ "Your data will not be transferred outside the European Economic Area."|trans }}
                {%  endif  %}  
                
                {%  if thirdCountry == 'yes' %}      
                    {{ "Your data will be transferred to our partners within the framework of the relevant adequacy decision of the European Commission (Art. 45 of the GDPR)."|trans }}
                {%  endif  %}  
                
                {%  if thirdCountry == 'usa' %}      
                    {{ "Your data will be transferred to our partners in the United States of America within the Privacy Shield framework."|trans }}
                {%  endif  %}  
                
                <br/><br/>
            </div>
        </div> 
        
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "No profiling or automated decision-making"|trans }}</b></h5>
                {{ "Your data will not be used for profiling or automated decision-making purposes."|trans }}
                <br/><br/>
            </div>
        </div> 
        
        <div class="row">
            <div class='col-lg-12'>
                <h5><b>{{ "Your rights with regards to the processing of your data"|trans }}</b></h5>
                
                {{ "The GDPR grants you certain rights with regards to the processing of your personal data. These rights include"|trans }}:
                <br/>
                {{ "<b>Access</b> (Art. 15 of the GDPR): you have the right to obtain confirmation as to whether we process your personal data, as well as information about how we process it. You can also request a copy of your personal data, for which we may charge you a reasonable fee based on administrative costs. In order to exercise your right of access, contact us at"|trans }}  
                {% if data.sc2_a_institution_e_mail.value.0  %}
                    <a href="mailto:{{ data.sc2_a_institution_e_mail.value.0 }}">{{ data.sc2_a_institution_e_mail.value.0 }}</a>
                {% endif %}
                {% if data.sc_3_a_email.value.0 %}
                    <a href="mailto:{{ data.sc_3_a_email.value.0 }}">{{ data.sc_3_a_email.value.0 }}</a>
                {% endif %};
                <br/>
                {{ "<b>Rectification</b> (Art. 16 of the GDPR): if your personal data that we process are incomplete or inaccurate, you have the right to request rectification of such data without undue delay. In order to exercise your right to rectification, contact us at"|trans }} 
                {% if data.sc2_a_institution_e_mail.value.0  %}
                    <a href="mailto:{{ data.sc2_a_institution_e_mail.value.0 }}">{{ data.sc2_a_institution_e_mail.value.0 }}</a>
                {% endif %}
                {% if data.sc_3_a_email.value.0 %}
                    <a href="mailto:{{ data.sc_3_a_email.value.0 }}">{{ data.sc_3_a_email.value.0 }}</a>
                {% endif %};
                <br/>
                {{ '<b>Erasure</b> ("right to be forgotten"  Art. 17 of the GDPR): in certain circumstances (e.g. if your data are processed unlawfully or unnecessarily) you may request erasure of your personal data.'|trans }} 
                <br/>
                {{ "<b>Restriction of processing</b> (Art. 18 of the GDPR): in certain circumstances (e.g. if you contest accuracy of your data that we process or lawfulness of the processing) you may request restriction of processing of your data. Such data will not be erased, but in principle can only be processed with your consent"|trans }};
                <br/>
                {{ "<b>Data portability</b> (Art. 20 of the GDPR): in certain circumstances, you may request transmission of your data to another controller in a structured, commonly used and machine-readable format"|trans }};
                <br/>
                {{ "<b>Right to object</b> (Art. 21 of the GDPR): if you did not consent to the processing, or if it is not necessary to comply with a legal obligation, you may always object to it, in which case we shall no longer process your data."|trans }}
                {{ "Moreover, you have the right to"|trans }}:
                <br/>
                    
                {{ "<b>withdraw your consent</b> to the processing of your personal data at any time (Art. 7(3) of the GDPR) by contacting us at"|trans }}
                {% if data.sc2_a_institution_e_mail.value.0  %}
                    <a href="mailto:{{ data.sc2_a_institution_e_mail.value.0 }}">{{ data.sc2_a_institution_e_mail.value.0 }}</a>
                {% endif %}
                {% if data.sc_3_a_email.value.0 %}
                    <a href="mailto:{{ data.sc_3_a_email.value.0 }}">{{ data.sc_3_a_email.value.0 }}</a>
                {% endif %}     
                {% if data.sc2_a_institution_name.value.0 %}
                    {{ "or by unsubscribing the newsletter"|trans }}
                {% endif %}
                .
                {{ "The withdrawal of consent will not affect the lawfulness of processing based on consent before its withdrawal."|trans }};
                <br/>
                {{ "<b>lodge a complaint</b> with a supervisory authority."|trans }}
                <br/>
            </div>
        </div> 
        
    </div>
</div>
