
<h3 style='color:red;'>{{ "Thank you for using the DARIAH ELDAH Consent Form Wizard. You can obtain the text for your consent form by downloading it from this page. Please note that you will be provided raw text only. Please also be aware that for data privacy reasons, the information you entered in the tool to obtain your consent form will not be stored and will be lost when closing the website. If you want to provide your result as an example for other CFW users, please send it to us at <a href='mailto:eldah@dariah.eu'>eldah@dariah.eu</a>"|trans }}
</h3>
<br/>
<h2><a href='#' id='get-raw-text' >{{ "Download the Raw text"|trans }}</a></h2>
<br/>
<div class='scenario-full-text'>
    <h1> {{ "Information on Data Processing and Declaration of Consent"|trans }} </h1>
    <div class="container">
        <div class="py-5 text-center">
          <h2>{{ "Introduction"|trans }}</h2>
            <p class="lead">
                <!-- [Project_name]  -->
                {{ data.please_state_the_name_of_your_project_.value.0 }} {{ "values your privacy and processes your personal data in compliance with the EU General Data Protection Regulation (GDPR)"|trans }}.
                <br><br>
                {{ 'Your <b>Personal Data</b> is any information related to you. <b>Processing</b> is any operation performed on the data.'|trans }}
                <br><br>
                {{ "According to the <b>Transparency Principle</b>, this document will provide you with information about the processing of your personal data as required by Art. 12, 13, and 14 of the GDPR."|trans }}
            </p>
        </div>

        <!-- [if: Individual]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_1' %}
            <div class="row">
                <div class='col-lg-12'>
                    <h5><b>{{ "Who am I and how can you contact me?"|trans }} </b></h5>
                <!-- [Individual_name]   -->
                    <b>{{ "Name"|trans }}: </b> {{ data.name.value.0 }}<br />
                    <b>{{ "Address"|trans }}: </b>{{ data.contact_details_address_.value.0 }}<br/>
                    <b>{{ "E-mail"|trans }}: </b> <a href="mailto:{{ data.contact_details_e_mail_.value.0 }}">{{ data.contact_details_e_mail_.value.0 }}</a>
                    {% set controller_email = data.contact_details_e_mail_.value.0 %}<br/>
                </div>
            </div>  
        {% endif %}

        <!-- [if: Institution]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_2' %}
            <div class="row">
                <div class='col-lg-12'>
                    <h5><b>{{ "Who are we and how can you contact us?"|trans }}</b></h5>
                    <!-- [Institution_name]  -->
                    <b>{{ "Name"|trans }}: </b>{{ data.name_.value.0 }}<br/>
                    <b>{{ "Address"|trans }}: </b>{{ data.contact_details_address_institution.value.0 }}<br/>
                    <b>{{ "E-mail"|trans }}: </b> <a href="mailto:{{ data.contact_details_e_mail_institutuion.value.0 }}">{{ data.contact_details_e_mail_institutuion.value.0 }}</a>
                    {% set controller_email = data.contact_details_e_mail_institutuion.value.0 %}<br/>
                </div>
            </div>  
        {% endif %}

        <div class="row">
            <div class='col-lg-12'>
                 <br/>{{ "acting as the data controller within the meaning of the GDPR."|trans }}
            </div>
        </div>  

        <!-- [if: DPO] -->
        {% if data.does_your_institution_have_a_dedicated_data_protection_officer_.value.0 %}
            <div class="row">
                <div class='col-lg-12'>
                    <br/>
                    {{ "You can also contact our <b>Data Protection Officer</b>"|trans }} {{ data.name_of_the_data_protection_officer.value.0 }} at <a href="mailto:{{ data.contact_information_e_mail_of_the_data_protection_officer_.value.0 }}">{{ data.contact_information_e_mail_of_the_data_protection_officer_.value.0 }}</a>'|trans }}<br/>
                </div>
            </div>  
        {% endif %}
        
        <!-- [if: Individual]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_1' %}
            <div class="row">
                <div class='col-lg-12'>
                    <br/>
                    <h5><b>{{ "For what purpose do I process your data?"|trans }}</b></h5>
                </div>
            </div>  
        {% endif %}

        <!-- [if: Institution]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_2' %}
            <div class="row">
                <div class='col-lg-12'>
                    <br/>
                    <h5><b>{{ "For what purpose do we process your data?"|trans }}</b></h5>
                </div>
            </div>  
        {% endif %}
        
        <!-- [Project_description] -->
        <div class="row">
            <div class='col-lg-12'>
                {{ "Your data will be processed within the"|trans }} <b>{{ data.please_state_the_name_of_your_project_.value.0 }}</b> {{ "project (hereinafter: the project)."|trans }}<br/><br/>

                <b>{{ "Project description"|trans }}: </b><br/>
                {{ data.q1c_please_describe_interview.value.0 }} 
                <br/><br/>
                {{ "To learn more about the"|trans }}  <b>{{ data.please_state_the_name_of_your_project_.value.0 }}</b> {{ "project, please see"|trans }} <a href="{{ data.please_provide_the_address_of_the_project_website_.value.0 }}">{{ data.please_provide_the_address_of_the_project_website_.value.0 }}</a>
                <br/><br/>
                {{ "Please be informed that your data may also be used in different research projects in the domain of"|trans }}  {{ data.please_identify_the_domain_of_your_project_e_g_digital_humanitie.value.0 }} {{ "in accordance with the GDPR."|trans }}
            </div>
        </div>  
        
        <!-- [if: Individual]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_1' %}
            <div class="row">
                <div class='col-lg-12'>
                    <br/>
                    <h5><b>{{ "What information about you do I collect and process?"|trans }}</b></h5>
                </div>
            </div>  
        {% endif %}

        <!-- [if: Institution]   -->
        {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_2' %}
            <div class="row">
                <div class='col-lg-12'>
                    <br/>
                    <h5><b>{{ "What information about you do we collect and process?"|trans }}</b></h5>
                </div>
            </div>  
        {% endif %}    
        
        <div class="row">
            <div class='col-lg-12'>
                {{ "The following types of information about you are collected and processed within the project:"|trans }}
                <br/>
                {% if data.generic_categories.text is iterable %}
                    <ul>
                    {% for value in data.generic_categories.text %}
                        <li> {{ value|t() }} </li>
                    {% endfor %}
                    </ul>
                {% else %}         
                    {{ data.generic_categories.text.0 }}
                {% endif %}         
                <!-- [list Data_Categories] [Data_Categories_other] -->
                <br/>
                
                {% if not data.sensitive_categories.text is empty %}          
                    {{ "Furthermore, the following special categories of personal data related to you are also processed"|trans }}: <br/>
                 
                    {% if data.sensitive_categories.text is iterable %}                        
                        <ul>
                           
                        {% for value in data.sensitive_categories.text %}
                            <li> {{ value|t() }} </li>
                        {% endfor %}
                        </ul>
                    {% else %}    
                        {{ data.sensitive_categories.text }}
                    {% endif %}
                    <br/>
                {% endif %}    
                <!-- [list Sensitive_Data] -->
                
                {{ "The data are collected directly from you through"|trans }}<br/>
                {% if data.a_in_what_form_are_you_gathering_recording_the_data_from_your_pa.text is iterable %}
                    <ul>
                    {% for value in data.a_in_what_form_are_you_gathering_recording_the_data_from_your_pa.text %}
                        <li> {{ value|t() }} </li>
                    {% endfor %}
                    </ul>
                {% else %}         
                    {{ data.a_in_what_form_are_you_gathering_recording_the_data_from_your_pa.text.0 }}
                {% endif %}.
                <!-- [Collection_means];  -->
                {% if data.generic_categories.text is iterable %}
                    {% for value in data.generic_categories.value %}
                        {% if value == 'q1b_dc_2' %}
                            {{ "Your IP address is automatically collected when you connect to the website."|trans }}
                        {% endif %}         
                    {% endfor %}

                {% else %}         
                    {%  if data.generic_categories.value.0 == 'q1b_dc_2'  %}
                        {{ "Your IP address is automatically collected when you connect to the website."|trans }}<br/>
                    {% endif %}         
                {% endif %}    
            </div>
        </div>  

        <div class="row">
            <div class='col-lg-12'>
                <br/>
                <h2>{{ "Legal basis for the processing of your data"|trans }}</h2>
                {{ "Your data is processed on the basis of your consent (Art. 6.1(a) of the GDPR) which you give by accepting this notice."|trans }}
                <br/>
                {% if data.generic_categories.text is iterable %}
                    {% for value in data.generic_categories.value %}
                        {% if value == 'q1b_dc_2' %}
                            <!-- Whenever special categories of data related to you are processed, the processing is based on your explicit consent (Art. 9.2(a) of the GDPR). -->
                        {% endif %}         
                    {% endfor %}
                {% else %}         
                    {%  if data.generic_categories.value.0 == 'q1b_dc_2'  %}
                        <!-- Whenever special categories of data related to you are processed, the processing is based on your explicit consent (Art. 9.2(a) of the GDPR).-->
                    {% endif %}         
                {% endif %}         
                <!-- [if Data_Categories includes Sensitive_Data]  -->

                <!-- [Project_domain] -->
                <br/>
                {{ "Exceptionally, where consent is not an appropriate legal basis, your personal data can also be processed on the basis of our legitimate interest in carrying out the project, or further research in the field of"|trans }} {{ data.please_identify_the_domain_of_your_project_e_g_digital_humanitie.value.0 }}. {{ "Then, the processing is based on Art. 6.1(f) of the GDPR."|trans }}
            </div>
            <br />
        </div>     

        <div class="row">
            <div class='col-lg-12'>
                <br/>
                <h2>{{ "For how long do we keep your data?"|trans }}</h2>
                    {{ "Your data will be stored"|trans }}
                    {%  if data.q1e_lrru_1_text.value.0 %}
                        {{ "until the end of the funding period or research project"|trans }} {{ data.q1e_lrru_1_text.value.0 }}.
                    {%  endif  %}

                    {%  if data.q1e_lrru_2_text.value.0  %}
                        {{ "for a period of"|trans }} {{ data.q1e_lrru_2_text.value.0 }} {{ "months after collection."|trans }}
                    {%  endif  %}
                    
                    {%  if data.language_resources_and_research_under_the_general_data_protectio.value.0  == 'q1e_lrru_3'%}
                        {{ "for as long as necessary for the fulfillment of the defined research purposes."|trans }}
                    {%  endif  %}
                    
                    <!-- [Retention_period].  -->
                    
            </div>
        </div>

        <div class="row">
            <div class='col-lg-12'>
                <br />
                <h2>{{ "Will your data be shared with anyone?"|trans }}</h2>
                
                {%  if data.will_you_share_the_data_.value.0 == "no" 
                    or 
                       data.will_you_anonymize_or_pseudonymize_the_data_before_sharing_.value.0 == 'yes_1' 
                %} 
                     <!-- [if: No_Recipients] -->
                     {{ "Your personal data will not be shared with or disclosed to anyone"|trans }} 
                     <!-- [if: Institution]  -->
                     {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_2' %}
                         <!-- [Institution_Name]. -->
                         {{ "outside the"|trans }} {{ data.affiliation_.value.0 }}.
                     {%  else  %}
                         .
                     {%  endif  %}
                {%  endif  %}  

                <!-- [if: Project_partners_sharing]  -->
                {%  if data.project_partners_within_the_specific_project.value.0 %}
                    {{ "Within the project, your personal data will be shared with researchers from the following partner institutions:"|trans }} <br/>
                    <!--[Partners_list].-->
                    {%  if data.institution_name.value.0 %}
                        <p>{{ "Name"|trans }}: {{ data.institution_name.value.0 }} <br/>
                    {%  endif  %}    

                    {{ "Country"|trans }}: 
                     {%  if data.country.value.0 == 'q1f_ins_c1_1' %}
                        {% set thirdCountry_1 = 'no' %}
                        {{ "within the European Economic Area (EU member states, Iceland, Liechtenstein, Norway) or in the UK"|trans }}
                    {%  elseif data.country.value.0 == 'q1f_ins_c1_1' %}
                        {% set thirdCountry_1 = 'yes' %}
                        {{ "in a country considered as having adequate data privacy safeguards by the EU (Andorra, Argentina, Canada, Faroe Islands, Guernsey, Israel, Isle of Man, Japan, Jersey, New Zealand, Switzerland, Uruguay)"|trans }}
                    {%  elseif data.country.value.0 == 'q1f_ins_c1_3' %}    
                        {% set thirdCountry_1 = 'usa' %}
                        {{ "in the USA"|trans }}
                    {%  elseif data.country.value.0 == 'q1f_ins_c1_4' %}
                        {% set thirdCountry_1 = 'no' %}
                        {{ "in a different country"|trans }}
                    {%  else %}    
                        {% set thirdCountry_1 = 'no' %}
                    {%  endif  %}    
                    <hr> 
                    {%  if data.institution_name_2.value.0 %}
                        {{ "Name"|trans }}: {{ data.institution_name_2.value.0 }} <br/>
                    {%  endif  %}    

                    {{ "Country"|trans }}:
                    {%  if data.country_2.value.0 == 'q1f_ins_c2_1' %}
                        {% set thirdCountry_2 = 'no' %}
                        {{ "within the European Economic Area (EU member states, Iceland, Liechtenstein, Norway) or in the UK"|trans }}
                    {%  elseif data.country_2.value.0 == 'q1f_ins_c2_2' %}
                        {% set thirdCountry_2 = 'yes' %}
                        {{ "in a country considered as having adequate data privacy safeguards by the EU (Andorra, Argentina, Canada, Faroe Islands, Guernsey, Israel, Isle of Man, Japan, Jersey, New Zealand, Switzerland, Uruguay)"|trans }}
                    {%  elseif data.country_2.value.0 == 'q1f_ins_c2_3' %}    
                        {% set thirdCountry_2 = 'usa' %}
                        {{ "in the USA"|trans }}
                    {%  elseif data.country_2.value.0 == 'q1f_ins_c2_4' %}
                        {% set thirdCountry_2 = 'no' %}
                        {{ "in a different country"|trans }}
                    {%  else %}    
                        {% set thirdCountry_2 = 'no' %}    
                    {%  endif  %}    
                    <hr>

                    {%  if data.institution_name_3.value.0 %}
                        {{ "Name"|trans }}: {{ data.institution_name_3.value.0 }} <br/>
                    {%  endif  %}

                    {{ "Country"|trans }}:
                    {%  if data.country_3.value.0 == 'q1f_ins_c3_1' %}
                        {% set thirdCountry_3 = 'no' %}
                        {{ "within the European Economic Area (EU member states, Iceland, Liechtenstein, Norway) or in the UK"|trans }}
                    {%  elseif data.country_3.value.0 == 'q1f_ins_c3_1' %}
                        {% set thirdCountry_3 = 'yes' %}
                        {{ "in a country considered as having adequate data privacy safeguards by the EU (Andorra, Argentina, Canada, Faroe Islands, Guernsey, Israel, Isle of Man, Japan, Jersey, New Zealand, Switzerland, Uruguay)"|trans }}
                    {%  elseif data.country_3.value.0 == 'q1f_ins_c3_3' %}    
                        {% set thirdCountry_3 = 'usa' %}
                        {{ "in the USA"|trans }}
                    {%  elseif data.country_3.value.0 == 'q1f_ins_c3_4' %}
                        {% set thirdCountry_3 = 'no' %}
                        {{ "in a different country"|trans }}
                    {%  else %}    
                        {% set thirdCountry_3 = 'no' %}    
                    {%  endif  %}    
                    <hr>
                    <br/>
                {%  endif  %}            
                    
                    {%  if data.project_partners_within_the_specific_project.value.0 or data.other_researchers_from_other_institutions_e_g_through_domain_spe.value.0 %}
                    <!-- [if: Other_researchers_sharing] [also - if: Project_partners_sharing] -->
                    {{ "Your data may be shared with other researchers via specialised repositories or other appropriate communication channels."|trans }}
                     <br/>
                    {%  endif  %}  
                   
                     
                    {%  if data.will_you_anonymize_or_pseudonymize_the_data_before_sharing_.value.0 == "yes_2" %}
                    <!--[if: Sharing_pseudonymised] -->
                    {{ "To safeguard your privacy, the data will be shared in pseudonymised form, i.e. without the elements by which you could be identified, which will be stored separately and not shared."|trans }}
                    <br/><br/>
                    {%  endif  %}  
                </div>
                <br />
        </div>        

        <div class="row">
            <div class='col-lg-12'>
                <br/>
                <h2>{{ "Will your data be transferred outside the European Economic Area (EEA)?"|trans }}</h2>
                <!-- [if no Third_Country] -->
                {% if thirdCountry_1 == 'no'  and thirdCountry_2 == 'no' and thirdCountry_3 == 'no' %}
                    {{ "Your data will not be transferred outside the European Economic Area."|trans }}
                    <br/>
                {% endif %}

                {% if (thirdCountry_1 == 'yes') or (thirdCountry_2 == 'yes') or (thirdCountry_3 == 'yes') %}
                    {{ "Your data will be transferred to our partners within the framework of the relevant adequacy decision of the European Commission (Art. 45 of the GDPR)."|trans }}
                    <br/>
                {% endif %}
                <!-- [if: Third_Country_Adequacy] -->

                {% if  thirdCountry_1 == 'usa'  or 
                        thirdCountry_2 == 'usa'  or 
                        thirdCountry_3 == 'usa'  
                %}
                    {{ "Your data will be transferred to our partners in the United States of America within the Privacy Shield framework."|trans }}
                    <br/>
                {% endif %}

                {% if  thirdCountry_1 == ''  and 
                        thirdCountry_2 == ''  and 
                        thirdCountry_3 == ''  
                %}
                    {{ "Your data will not be transferred outside the European Economic Area."|trans }}
                    <br/>
                {% endif %}
            </div>
           <br />
        </div>

        <div class="row">
            <div class='col-lg-12'>
                <br/>
                <h2>{{ "No profiling or automated decision-making"|trans }}</h2>
                {{ "Your data will not be used for profiling or automated decision-making purposes."|trans }}
            </div>
            <br />
        </div>
        <div class="row">
            <div class='col-lg-12'>
                <br/>
                 <!-- [if: Individual]   -->
                {% if data.are_you_collecting_data_.value.0 == 'q1d_aycd_1' %}
                    {% set weI = 'I' %}
                    {% set usMe = "me" %}
                {% elseif data.are_you_collecting_data_.value.0 == 'q1d_aycd_2' %}
                    {% set weI = "We" %}
                    {% set usMe =  "us" %}
                {% endif %}
                
                <h2>{{ "Your rights with regards to the processing of your data"|trans }}</h2>
                {{ "The GDPR grants you certain rights with regards to the processing of your personal data. These rights include"|trans }}:<br/>
                    <ul>    
                        <li>{{ "<b>Access</b> (Art. 15 of the GDPR): you have the right to obtain confirmation as to whether"|trans }} {{ weI|t() }} {{ "have your personal data, as well as information about how"|trans }} {{ weI|t() }} {{ "process it. You can also request a copy of your personal data, for which"|trans }} {{ weI|t() }} {{ "may charge you a reasonable fee based on administrative costs. In order to exercise your right of access, contact"|trans }} {{ usMe|t() }} {{ "at"|trans }} {{ controller_email }};</li>

                        <li>{{ "<b>Rectification</b> (Art. 16 of the GDPR): if your personal data that"|trans }} {{ weI|t() }} {{ "process are incomplete or inaccurate, you have the right to request rectification of such data without undue delay. In order to exercise your right to rectification, contact"|trans }} {{ usMe|t() }} {{ "at"|trans }} {{ controller_email }};</li>

                        <li>{{ '<b>Erasure</b> ("right to be forgotten" – Art. 17 of the GDPR): in certain circumstances (e.g. if your data are processed unlawfully or unnecessarily) you may request erasure of your personal data.'|trans }} </li>

                        <li>{{ "<b>Restriction of processing</b> (Art. 18 of the GDPR): in certain circumstances (e.g. if you contest accuracy of your data that we process or lawfulness of the processing) you may request restriction of processing of your data. Such data will not be erased, but in principle can only be processed with your consent"|trans }};</li>

                        <li>{{ "<b>Data portability</b> (Art. 20 of the GDPR): in certain circumstances, you may request transmission of your data to another controller in a structured, commonly used and machine-readable format"|trans }};</li>

                        <li>{{ "<b>Right to object</b> (Art. 21 of the GDPR): if you did not consent to the processing, or if it is not necessary to comply with a legal obligation, you may always object to it, in which case"|trans }} {{ weI|t() }} {{ "shall no longer process your data."|trans }} </li>

                        <li><b>{{ "Moreover, you have the right to"|trans }}:</b><br>
                        <li>{{ "<b>withdraw your consent</b> to the processing of your personal data at any time (Art. 7(3) of the GDPR) by contacting us at"|trans }} {{ controller_email }}. {{ "The withdrawal of consent will not affect the lawfulness of processing based on consent before its withdrawal; lodge a <b>complaint</b> with a supervisory authority."|trans }}</li>
                    </ul>
            </div>
        </div>
    </div>
</div>
